body{
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 29);
}

.main{
    color:rgb(3, 136, 136);
}

.main-exibir{
    color:white;
}

.btn-sim{
    border-radius: 4px;
    transition: 0.5s;
}

.btn-sim:hover{
    color:rgb(3, 136, 136);
}

.btn-nao{
    border-radius: 4px;
    transition: 0.5s;
}

.btn-nao:hover{
    color:rgb(3, 136, 136);
}